.full-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cardEditInfo {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.input-group-edit {
  margin-bottom: 20px;
}

.input-group-edit label {
  display: block;
  margin-bottom: 8px;
}

.input-group-edit input,
.input-group-edit select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #0d6efd;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0d6efd;
}
